body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(255, 208, 0);
    padding: 20px;
    text-align: center;
}
hr {
    border: 1px solid #000000;
    margin: 20px 0;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
p {
    text-align: justify;
    margin: 0 20px;
}
nav {
    background-color:darkgray;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav ul li a:hover {
    color:rgb(255, 204, 0);
    text-decoration: underline;
}
#photo-gallery {
    margin: 20px auto;
    text-align: center;
}
img {
    width: 300px;
    height: 200px;
    margin: 10px;
}
#photo-gallery a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #333;
}
#photo-gallery a:hover {
    color:rgb(255, 204, 0);
    text-decoration: underline;
}
#newsletter {
    margin: 20px auto;
    text-align: center;
}
form {
    margin: 20px auto;
    text-align: center;
}
input[type="email"] {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}